* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*แถบเมนู*/
.container{
    max-width: 1140px;
    margin: 0 auto;
}
nav{
    padding: 0.2rem;
    background-color: #fff;
}
.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px; 
}
.logo a {
    font-size: 2rem; 
    font-weight: bold;
    color: #FFAA0D;
    text-decoration: none;
    line-height: 1;         
    display: flex;
    align-items: center;    
    height: 100%;  
}
.menu {
    display: flex;
    list-style: none;
    align-items: center;
}
.menu li {
    margin: 0 1rem;
}
.menu li a{
   color: black;
    text-decoration: none;
    font-size: 18px;        
    display: inline-block;
    padding: 0.5rem 1rem; 
    transition: 0s ease;
}
.menu li a:hover{
   background-color: #FFAA0D;
   border-radius: 20px;
}
/*แถบสีส้ม*/
.maincontent{
    background-color: #FFAA0D;
}
.maincontent-con{
    display: flex;
}
.maincontent-info{
    width: 100%;
    padding: 2rem;
}
.maincontent-info h3 {
    font-size: 40px;
}
.maincontent-info p {
    margin: 1rem 0;
    font-size: 38px;
}
.maincontent-info .maincontent-btn{
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.maincontent-info .maincontent-btn:hover{
    background-color: rgb(246, 132, 17);
}
.maincontent-img{
    width: 100%;
    padding: 2rem;
}
img{
    border-radius: 60px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
}
/*ช่องค้นหา*/
.search-bar {
  margin: 2rem auto;
  width: 70%;
  max-width: 600px;
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
.search-bar:hover{
    background-color: #bebbbb;
}
.search-bar i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.search-bar input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
}
/*ช่องแสดวรายการอาหาร*/ 
.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}
.content-title{
    margin: 2rem 0;
}
.content-item img{
    width: 100%;
}
.content-item h4{
    margin-top: 1rem;
}
.content-item p {
    margin: 0.5rem;
}
.content-item a{
    display: inline-block;
    color: black;
    background-color: #FFAA0D;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
}